:root{
    --main-font: serif;
    --header-color: rgb(25, 25, 25);
    --tab-color: rgb(48, 47, 47);
    --background-color: rgb(255, 255, 255);
    --body-color: #d6d6d6;
    --font-color-main: #f1efef;
    --font-color-sub: #44444c;
}

head {
    font-family: var(--main-font);
    padding: 0%;
    margin: 0%;
}

body {
    font-family: var(--main-font);
    padding: 0%;
    margin: 0%;
    background-color: var(--background-color);
    color: var(--font-color-sub);
}

a {
    font-size: 14px;
    text-decoration: none;
    color: var(--font-color-sub);
}

a:visited {
    font-size: 14px;
    text-decoration: none;
    color: var(--font-color-sub); 
}

a:hover {
    background-color: var(--font-color-sub);
    color: var(--font-color-main);
}

button {
    background: none;
    border: none;
    color: var(--font-color-sub);
}

button:hover {
    background-color: var(--font-color-sub);
    color: var(--font-color-main);
}

table, th, td {
    margin-left: 3px;
    border-collapse: collapse;
    border: solid;
}

.header{
    padding-top: .1px;
    padding-left: 1%;
    padding-bottom: .5px;
    margin: 0%;
    font-family: var(--main-font);
    background-color: var(--header-color);
    color: var(--font-color-main);

    text-align: left;
    display: grid;
    grid-template-columns: 85% 15%;
}

#welcome-message {
    margin-top: auto;
    margin-bottom: auto;
}

.home-content {
    padding-top: 2%;
    margin-left: 2.5%;
    margin-right: 2.5%;
    height: 100%;
    text-align: center;
    display: grid;
    grid-template-columns: 30% 70%;
}

.user-info {
    font-family: var(--main-font);
    display: flex;
    margin-left: 20%;
    text-align: left;
}

#user-number {
    margin-left: 25%;
}

#user-info-data {
    padding-top: 5px;
    margin-left: 2%;
}

.icons {
    height: 25px;
    width: 25px;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #4e4e4e;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }

.user-profile {
    max-height: 100%;
    color: var(--font-color-main);
    background-color: var(--header-color);
}

.home-tabs {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto;
    background-color: var(--tab-color);
    color: var(--font-color-main);
}

.home-tab-content {
    padding-top: 1%;
    margin-top: 0%;
    background-color: var(--body-color);
}

.inner-tab-content {
    min-height: 650px;
    max-height: 650px;
    overflow: auto;
}

.home-tab-buttons:hover {
    cursor: pointer;
}

.home-tab {
    display: none;
}

#upload-form 
{
    text-align: center;
    margin-top: 2.5%;
    margin-left: 2.5%;
    margin-right: 2.5%;

    min-height: 629px;
}

#upload-button 
{
    text-align: center;
}

#profile-picture {
    margin-top: 8%;
    height: 200px;
    width: 200px;
    border: solid;
    border-width: 1px;
    border-color: var(--header-color);
}

#archive-form 
{
    display: none;
}

.input-field 
{
    text-align: left;
    min-width: 250px;
}

#input-field 
{
    border-style: none;
    border-bottom-style: solid;
    border-color: var(--font-color-sub);
    background-color: var(--body-color);
}

#submit-form-button 
{
    display: flex;
    justify-content: center;
    font-size: 36px;
}

.login-header
{
    display: flex;
    justify-content: center;
    margin-top: 13%;
    margin-bottom: 13%;
}

#login-header-text-a
{
    color: var(--font-color-main);
    padding-left: 5px;
    padding-right: 10px;
    margin-top: 2.5%;
    margin-bottom: 5%;
}

#login-header-text-b
{
    color: var(--font-color-main);
    padding-left: 5px;
    margin-top: 2.5%;
    margin-bottom: 5%;
}

.login-page-container 
{
    opacity: 80%;
    min-width: 400px;
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-auto-rows: 0.2fr;
    grid-gap: 10px;
}

.login-form {
    display: flex;
    justify-content: center;
    margin-top: 10%;
    color: var(--font-color-main);
}

#login-form {
    justify-content: center;
    border-color: #44444c;
}

#login-button
{
    font-family: var(--main-font);
    font-size: 24px;
    padding-left: 35%;
    padding-right: 35%;
    margin-bottom: 3%;
}


.login-form-container 
{
    animation: fadeInUp;
    animation-duration: 1s;
    display: flex;
    justify-content: center;
    border-radius: 25px;
    padding-top: 25px;
    min-height: 350px;
    min-width: 380px;
    max-width: 380px;
    background-color: var(--body-color);
}

#login-header {
    border-radius: 25px;
    min-width: 100px;
    max-width: 320px;
    text-align: center;
    font-size: 36px;
    color: var(--font-color-sub);
    padding: 1px;
}

#login-content {
    border-radius: 25px;
    min-height: 200px;
    min-width: 100px;
    max-width: 320px;
    margin-top: 5px;
    display: flex;
    justify-content: center;
    color: var(--font-color-sub);
}

#login-footer {
    color: var(--font-color-sub);
    border-radius: 25px;
    min-height: 20px;
    max-height: 45px;
    min-width: 100px;
    max-width: 320px;
    text-align: center;
}

#edit-form, #view-form {
    display: none;
}

.update-title {
    margin-top: 5%;
    margin-left: 35%;
    margin-right: 35%;

    padding-top: .5%;
    padding-bottom: 1%;

    text-align: center;
    color: var(--font-color-main);
    font-family: var(--main-font);
    background-color: var(--header-color);
}

.update-tab {
    margin-left: 35%;
    margin-right: 35%;

    padding-top: 1%;
    padding-bottom: 1%;

    font-family: var(--main-font);
    text-align: center;
    line-height: 150%;
    color: var(--font-color-sub);
    background-color: var(--font-color-main);
}