:root{
    --main-font: serif;
    --header-color: rgb(25, 25, 25);
    --tab-color: rgb(48, 47, 47);
    --background-color: rgb(140, 140, 140);
    --body-color: #d6d6d6;
    --font-color-main: #f1efef;
    --font-color-sub: #44444c;
}

head {
    font-family: var(--main-font);
    padding: 0%;
    margin: 0%;
}

body {
    font-family: var(--main-font);
    padding: 0%;
    margin: 0%;
    background-color: var(--background-color);
    color: var(--font-color-sub);
}

a {
    font-size: 14px;
    text-decoration: none;
    color: var(--font-color-sub);
}

a:visited {
    font-size: 14px;
    text-decoration: none;
    color: var(--font-color-sub); 
}

a:hover {
    background-color: var(--font-color-sub);
    color: var(--font-color-main);
}

button {
    background: none;
    border: none;
    color: var(--font-color-sub);
}

button:hover {
    background-color: var(--font-color-sub);
    color: var(--font-color-main);
}

table, th, td {
    margin-left: 3px;
    border-collapse: collapse;
    border: solid;
}

.header{
    padding-top: .1px;
    padding-left: 1%;
    padding-bottom: .5px;
    margin: 0%;
    font-family: var(--main-font);
    background-color: var(--header-color);
    color: var(--font-color-main);

    text-align: left;
    display: grid;
    grid-template-columns: 85% 15%;
}

#welcome-message {
    margin-top: auto;
    margin-bottom: auto;
}

.home-content {
    padding-top: 2%;
    margin-left: 2.5%;
    margin-right: 2.5%;
    height: 100%;
    text-align: center;
    display: grid;
    grid-template-columns: 30% 70%;
}

.user-info {
    font-family: var(--main-font);
    display: flex;
    margin-left: 20%;
    text-align: left;
}

#user-number {
    margin-left: 25%;
}

#user-info-data {
    padding-top: 5px;
    margin-left: 2%;
}

.icons {
    height: 25px;
    width: 25px;
}

.user-profile {
    max-height: 100%;
    color: var(--font-color-main);
    background-color: var(--header-color);
}

.home-tabs {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto;
    background-color: var(--tab-color);
    color: var(--font-color-main);
}

.home-tab-content {
    padding-top: 1%;
    margin-top: 0%;
    background-color: var(--body-color);
}

.inner-tab-content {
    min-height: 650px;
    max-height: 650px;
    overflow: auto;
}

.home-tab-buttons:hover {
    cursor: pointer;
}

.home-tab {
    display: none;
}

#upload-form {
    text-align: center;
    margin-top: 2.5%;
    margin-left: 2.5%;
    margin-right: 2.5%;

    min-height: 629px;
}

#upload-button {
    text-align: center;
}

#profile-picture {
    margin-top: 8%;
    height: 200px;
    width: 200px;
    border: solid;
    border-width: 1px;
    border-color: var(--header-color);
}

#archive-form {
    display: none;
}

.login-form {
    margin-top: 12%;
    margin-left: 35%;
    margin-right: 35%;
    color: var(--font-color-main);
}

#login-form {
    border-color: #44444c;
}

#login-header {
    text-align: center;
    padding: 1px;
    background-color: var(--header-color);
}

#login-content {
    min-height: 250px;
    padding-top: 15%;
    padding-bottom: 10%;
    text-align: center;
    color: var(--font-color-sub);
    background-color: var(--body-color);
}

#login-footer {
    text-align: center;
    background-color: var(--font-color-sub);
}

#edit-form, #view-form {
    display: none;
}

.update-title {
    margin-top: 5%;
    margin-left: 35%;
    margin-right: 35%;

    padding-top: .5%;
    padding-bottom: 1%;

    text-align: center;
    color: var(--font-color-main);
    font-family: var(--main-font);
    background-color: var(--header-color);
}

.update-tab {
    margin-left: 35%;
    margin-right: 35%;

    padding-top: 1%;
    padding-bottom: 1%;

    font-family: var(--main-font);
    text-align: center;
    line-height: 150%;
    color: var(--font-color-sub);
    background-color: var(--font-color-main);
}