:root
{
    --main-font: serif;
    --header-color: rgb(25, 25, 25);
    --tab-color: rgb(48, 47, 47);
    --background-color: rgb(255, 255, 255);
    --body-color: #d6d6d6;
    --font-color-main: #f1efef;
    --font-color-sub: #44444c;
}

body
{
    font-family: var(--main-font);
}

.register-page-container
{
    color: var(--font-color-main);
    background-image: linear-gradient(to bottom, rgba(78, 78, 78, 0.1), rgba(31, 30, 30, 0.8) 100%),
    url("../Pics/background2.jpg");
    min-height: 100vh;
    background-position: center top;
    display: flex;
    justify-content: center;
}

.container
{
    animation: fadeInUp;
    animation-duration: 1s;
    margin-top: 4.5%;
    min-width: 1080px;
    background-color: rgba(53, 53, 53, 0.5);
    margin-bottom: 5%;
    display: flex;
    justify-content: center;
    border-radius: 25px;
}

.next-buttons
{
    display: flex;
    justify-content: center;
}

#back-button
{
    margin-right: 1.25%;
}

#next-button
{
    margin-left: 1.25%;
}

.get-started
{
    display: flex;
    justify-content: center;
    margin-top: 5%;
    text-align: center;
}

.get-started-button
{
    padding: 15%;
    height: 15px;
    width: 85px;
    border-radius: 25px;
    background: linear-gradient(to right, rgb(72, 131, 240), rgb(70, 70, 70) 100%);
    background-size: 200% 100%;
    background-position: right bottom;
    transition: all .5s ease-out;
}

.get-started-button:hover
{
    cursor: pointer;
}

#get-started-button
{
    color: var(--font-color-main);
}

#get-started-button:hover
{
    cursor: pointer;
}

#get-started-button:hover
{
    background: none;
}

.get-started-button:hover
{
    background-position: left bottom;
    transition: .5s;
}

#form-header
{
    margin-top: 5%;
    text-decoration: underline;
    font-size: 56px;
}

#form-sub-header
{
    font-size: 36px;
}

#form-image
{
    margin-top: 0%;
    width: 250px;
    height: 250px;
}

.input-field
{
    text-align: center;
    font-size: 16px;
    border: none;
    border-bottom:solid;
    border-width: 1px;
    color: var(--font-color-main);
    height: 35px;
    width: 350px;
    background: none;
}

option
{
    color: var(--font-color-sub);
}

#input-Fname
{
    width: 75px;
    margin-right: 15px;
}

#input-Sname
{
    width: 75px;
}

#input-Mname
{
    margin-left: 15px;
    width: 75px;
}

.section-container
{
    text-align: center;
}

#section-1-container
{
    display: none;
}

#section-2-container
{
    display: none;
}

#section-3-container
{
    display: none;
}

#section-4-container
{
    display: none;
}
#get-started-button 
{
    font-family: var(--main-font);
}


